* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}


#logoEduSync {
  margin-left: 0;
  margin-right: 100;
  display: block;
  padding-top: 20px;
}

#formLogin {
  text-align: center;
  display: block;
}

fieldset {
  background-color: #E5E9F2;
  display: block;
  margin: 0 auto;
  width: 20%;
}

.login {
  padding: 20px;
  font-family: "Lato", sans-serif;
}

select {
  margin: 5px;
}

.login {
  text-align: center;
}

option {
  color: #8190A5
}

input {
  padding: 5px;
  margin: 5px;
  width: 30%;
  border-color: #81848a;
}

select {
  height: 30px;
  border-color: #81848a;
}

#botaoEntrar {
background-color: #004651;  
color: #E5E9F2;
}

footer {
  text-align: center;
  padding: 5px;
  width: 100%;
  bottom: 0;
  position: relative;
  background-color: #004651;
  color: white;
  }