
   * {
    padding:0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
   }

   #logoEduSync {

    padding-right: 5px;
  }

   header {
    background-color: white;
    box-shadow: 0px 3px  10px;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
  }

  .logo {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
  }

  .nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .nav-item {
    margin: 0 15px;

  }

  .nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #47525E;
    font-weight: 400;
  }

  .input {
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
  }

  #btnPesquisa {
    border:none;
    float:right;
    height:20px;
  }

  #linha {
    width: 50%;
    border-bottom: 1px solid #000000;
    padding: 40px;
  }

  #btnAdicionar {
    border: none;
    float:right;
    height:30px;
    display: flex;
    padding-right: 2px;
  }
  
  
  main h1 {
    padding: 40px ;
  }

  h2 {
   padding: 20px;
  }

  p {
    margin: 20px;
    font-weight: 400;
    font-size: 20px;
  }

 #btnEditar{
  border: none;
  float: right;
  height: 25px;
  display: flex;
  padding-right: 0.200px;
  padding-top: 60px;
 }

 footer {
  text-align: center;
  padding: 5px;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #E5E9F2;
  color: #000;                                                    
}   

.calendar-container {
  position:relative;
  left: 1150px;
  background: #fff;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.12);
}

.calendar-container header {
  display: flex;
  align-items:center;
  padding: 35px 30px 10px;
  justify-content: space-between;
}

header .calendar-navigation {
  display: flex;
}

header .calendar-navigation  {
  height: 38px;
  width: 15px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  user-select:none;
  color: #aeabab;
  font-size: 1.9rem;
}

#calendar-prev{
position: relative;
right: 50px;
}

#calendar-next{
  position: relative;
  right: 140px;
  }

.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-navigation span:hover {
  background: #f2f2f2;
}

header .calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}