* {
    padding:0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
   }

   #logoEduSync {

    padding-right: 5px;
  }

   header {
    background-color: white;
    box-shadow: 0px 3px  10px;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
  }

  .logo {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
  }

  .nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .nav-item {
    margin: 0 15px;

  }

  .nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #47525E;
    font-weight: 400;
  }

  .input {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
  }

  #btnPesquisa {
    border:none;
    float:right;
    height:20px;
  }

  #linha {
    width: 50%;
    border-bottom: 1px solid #000000;
    padding: 40px;
  }

  main h1 {
    padding: 40px ;
  }

  h2 {
   padding: 20px;
  }

  p {
    margin: 20px;
    font-weight: 400;
    font-size: 20px;
  }

  footer {
    text-align: center;
    padding: 5px;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #E5E9F2;
    color: #000;
  }