/* Verde claro: #A4E473
Verde médio: #00A181
Verde escuro:#004651
"Branco": #F4F4F4
Preto: #000000
Amarelo: #F2EF12 */

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #F4F4F4;
}

.lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    padding-top: 20px;
    background-color: #F4F4F4;
}

.lateral ul {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #F4F4F4;
    width: 140px;
    box-shadow: 3px 0px  30px;
}

.lateral ul li {
    padding: 25px;
    font-size: 14px;
    background-color: #F4F4F4;
}
.lateral ul li a {
    color: black;
    text-decoration: none; 
}

.lateral ul li img {
    width: 18px;
    height: 14px;
    padding-right: 5px;
}

.lateral ul li:first-child {
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: center;
    font-size: 22px;
    background-color: #F4F4F4;
}

.lateral ul li:first-child img {
    width: 60px;
    height: 45px;
    display: block;
    margin: 0 auto;
}

.lateral ul li:last-child {
    position: absolute;
    bottom: 0;

}

.lateral ul li:last-child div {
    padding: 26px;
}

.lateral ul li:last-child img {
    width: 20px;
    height: 20px;
}
.lateral ul li:not(:first-child):hover {
    background-color: #A4E473;
}
.navbar {
    position: fixed;
    top: 0;
    left: 140px; 
    width: calc(100% - 140px);
    background-color: #F4F4F4;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    border-bottom: solid #004651;
}

.navbar input[type="text"] {
    width: 520px;
    left: 140px; 
    padding: 8px;
    border: 1px solid #F4F4F4;
    border-radius: 4px;
    margin-right: 5px;
}
.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.search-button img:hover {
    background-color: #A4E473;
    border-radius: 15px
}

.user-menu {
    margin-left: auto;
}
.user-menu img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content {
    margin-top: 70px;
    margin-left: 150px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box {
    height: 200px;
    background-color: #F4F4F4;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:3px solid #000;
}
.box:hover{
    background-color: #A4E473;
}
.box img {
    width: 50px;
    height: 50px;
}

.content 
{
    font-size: 25px;
}