* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header {
    background-color: white;
    box-shadow: 0px 3px 10px;
    color: #004651;
}

body {
    overflow: hidden;
}

#logoEduSync {
    padding-right: 5px;
}

body {
    min-height: fit-content;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list {
    padding-top: 10px;
}

.nav-item {
    margin: 0 15px;

}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #47525E;
    font-weight: 400;
}

#divPesquisa {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
}

#btnPesquisa {
    border: none;
    float: right;
    height: 20px;
}

main h1 {
    text-align: center;
    padding-top: 50px;
}

main {
    display: block;
    text-align: center;
}

main p {
    padding-top: 20px;
    margin-bottom: 25px;
}

#tituloObservacao {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#tituloObservacao:focus {
    border: 1px solid #47525E;
}



textarea {
    border: 1px solid #ccc;
    min-height: 100px;
    padding: 12px 20px;
    resize: none;
    width: 50%;
    overflow: auto;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin: 0 auto;}

form {
    padding-top: 25px;
    margin-bottom: 20px;
}

.botaoEnviarObservacao {
    background-color: #004651;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.botaoEnviarObservacao:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botaoSalvarObservacao {
    background-color: #00A181;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.botaoSalvarObservacao:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botaoSairObservacao {
    background-color: #969FAA;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.botaoSairObservacao:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    text-align: center;
    padding: 5px;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #004651;
    color: #F4F4F4;
}

#registroAluno {
    padding: 10px;
    border: 1px solid #47525E;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-top: 50px;
}

#registroAluno:focus {
    border-color: #47525E;
}

#divRegistroAluno {
    margin-bottom: 20px;
}

#divRegistroAluno button {
    background-color: #004651;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#divRegistroAluno button:hover {
    background-color: #00343f;
}

#tituloObservacao:focus {
    border: 1px solid #47525E;
}

#campoObservacao {
    border: 1px solid #ccc;
    min-height: 100px;
    padding: 12px 20px;
    resize: none;
    width: 50%;
    overflow: auto;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin: 0 auto;
}

#campoObservacao:focus {
    border: 1px solid #47525E;
}

.button-container {
    text-align: center;
}